.my-center-x {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.my-alert{
    position: sticky;
    top: 3.5rem;
    z-index: 999;
    height: 45px !important;
}

.my-table {
    overflow-x: auto;
}

.my-table > .my-table-head {
    display: flex;
    width: max-content;
}

.my-table-head > div {
    width: 160px;
}

.my-table-head > div:last-child {
    width: 70px;
}

.my-table-body{
    display: flex;
    width: max-content; 
}

.my-table-body > div {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-table-body > div:last-child {
    width: 70px;
}

.my-table-body > div > button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    border: none;
    padding: 4px;
    background-color: white;
}

.my-table-body img {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 992px) {
    .logOut {
        margin: 16px 0 !important;
    }
}